<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.employee_system.infrastructure.mapper.EmployeeMapper">

    <select id="countWaitingEmployees"
            resultType="long">

        SELECT
            COUNT(*)
        FROM employees e
        WHERE e.work_status = '01'
          AND e.employment_status = '01'
          AND e.deleted_at IS NULL

        <if test="salesUserId != null">
            AND e.sales_user_id = #{salesUserId}
        </if>

    </select>

</mapper>